:root {
  --primary-green: #28a745;
  --background-grey: #f0f0f0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-decoration: none;
  outline: none;
}

html{
  background-color: var(--background-grey);
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: -100px;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  --webkit-transition: right 2s ease-in-out;
  z-index: 1000;
  opacity: 0;
}

.message-container.success {
  background-color: #28a745;
}

.message-container.error {
  background-color: #dc3545;
}

.message-container.show {
  top: 150px;
  right: 50%;
  transform: translateX(50%);
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

span.required {
  color: red;
}

.counter{
  display: inline;
}